# Ignore tout par défaut
*

# Ne pas ignorer le fichier .gitignore lui-même
!.gitignore

# Autoriser les dossiers build et public, ainsi que tout leur contenu récursivement
!/build
!/build/**
!/public
!/public/**